$snake__background: $violet;
$snake__border: $white;

.snake {
  background: $snake__background;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid $snake__border;
  border-radius: 2px;
}