$board__border: $dark;
$game-over__title: $violet;

.board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  border: 2px solid $board__border;
  border-radius: 2px;
  &.over {
    opacity: 0.5;
  }
}

.game-over {
  font-size: 1.8rem;
  text-align: center;
  .title {
    color: $game-over__title;
    font-size: 2.2rem;
    font-weight: 400;
  }
}