$navigation-link__color: $white;

.navigation {
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .item {
      margin: 0;
      padding: 0;
      overflow: hidden;
      .link {
        color: $navigation-link__color;
        text-decoration: none;
        display: block;
        position: relative;
        padding: 5px 0;
        font-weight: 600;
        font-size: 1.6rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: right;
        white-space: nowrap;
        @media (max-width: $xs) {
          font-size: 1.4rem
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 2px;
          transform: translateX(-100%);
          background: $navigation-link__color;
          transition: transform 200ms ease-in-out;
          @media (max-width: $xs) {
            height: 1px;
          }
        }
        &:hover {
          &:after {
            transform: translateX(0);
          }
        }
      }
    }
  }
}