$header__background: $gradient;
$header__color: $white;

.header {
  height: 80px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: $gradient;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .title {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $header__color;
    .link {
      color: $header__color;
      text-decoration: none;
    }
  }
}