$header__title__color: $violet;

.header {
  height: 80px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  .inner {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .title {
    margin: 0;
  }
}