:global .fade {
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity 200ms ease-in-out;
    }
  }
  &-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 200ms ease-in-out;
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
  }
}

:global .transition-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}


@keyframes :global(appear-and-disappear) {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1
  }
  100% {
    opacity: 0;
  }
}